ul#grid {
  display: grid;
}
@media all and (min-width: 500px) {
  ul#grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 768px) {
  ul#grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  ul#grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul#grid a:hover {
  text-decoration: underline;
}
