.gal {
  padding: 20px;
}
.gal .wrap {
  position: relative;
}
.gal img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.gal button {
  position: absolute;
  border: 1px solid var(--gray6);
  background-color: var(--gray8);
  border-radius: 100px;
  padding: 20px 3px;
  top: 50%;
}
.gal button:hover {
  opacity: 1;
  background-color: var(--gray7);
}
.gal button.l {
  left: 0;
  transform: translate(-50%, -50%);
}
.gal button.r {
  right: 0;
  transform: translate(50%, -50%);
}
