.ni {
  padding: 0 20px;
  row-gap: 10px;
}
.ni p {
  font-size: 12px;
  color: var(--gray4);
}
.ni input {
  background-color: transparent;
  border: 1px solid var(--gray4);
  outline: none;
  padding: 10px;
  caret-color: var(--gray4);
  border-radius: 100px;
}
.ni input:focus {
  border-color: var(--green6);
}
.ni input::placeholder {
  color: var(--gray4);
}
.ni button {
  background-color: var(--red7);
  padding: 10px 20px;
  border-radius: 100px;
}

.ni .btn {
  flex-direction: row;
  justify-content: center;
}
