footer {
  row-gap: 30px;
  padding: 20px;
}

footer ul a {
  font-size: 14px;
}
footer ul a:hover {
  text-decoration: underline;
}

footer .txt {
}

footer .txt :nth-child(2) {
  font-size: 10px;
}
