header {
  background-color: var(--gray9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

header ul {
  display: flex;
  column-gap: 10px;
}

header .logo {
  font-size: 40px;
  color: var(--red7);
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}

header .h {
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

header .h.lang {
  border: 1px solid var(--gray6);
}
header .h.l {
  background-color: var(--red7);
}
