* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .netflx {
  display: flex;
  justify-content: flex-end;
}

.netflix {
  background-color: red;
  display: flex;
  justify-content: flex-end;
}
.netflix .ko {
  width: 30px;
  border-radius: 15px 0;
}
